<h1>Basic</h1>
1,<br>
<div [setContext]="'alma'">
  <div>
    <div *getContext="let context">
      <code>[setContext]="'alma'"</code><br>
      <code> *getContext="let context"</code><br>
      <strong>
        context ($implicit): {{context}} === alma
      </strong>
    </div>
  </div>
</div>
<hr>
2,<br>
<div [setContext]="'alma'" [setContextUnder]="'key'">
  <div>
    <div *getContext="let key = key">
      <code>[setContext]="'alma'"</code><br>
      <code>[setContextUnder]="'key'"</code><br>
      <code> *getContext="let key = key"</code><br>
      <strong>
        key: {{key}} === alma
      </strong>
    </div>
  </div>
</div>
<hr>
3,<br>
<div [setContext]="counter$ | async">
  <div>
    <div *getContext="let context">
      <code>counter$ = timer(0, 1000);</code><br>
      <code>[setContext]="counter$ | async"</code><br>
      <code>*getContext="let context"</code><br>
      <strong>
        context ($implicit): {{context}} === {{counter$ | async}} &lt;&lt;reactive counter&gt;&gt;
      </strong>
    </div>
  </div>
</div>
<hr>
4,<br>
<div *setContext="counter$ | async under 'counter'">
  <div>
    <div *getContext="let counter = counter">
      <code>counter$ = timer(0, 1000);</code><br>
      <code>*setContext="counter$ | async under 'counter'"</code><br>
      <code>*getContext="let counter = counter"</code><br>
      <strong>
        counter: {{counter}} === {{counter$ | async}} &lt;&lt;reactive counter&gt;&gt;
      </strong>
    </div>
  </div>
</div>
<hr>
5,<br>
<div [setContextO]="{ $implicit: 'alma', a: 1, b: 2, c: { counter: (counter$|async) } }">
  <div>
    <div *getContext="let context; let a = a; let bb = b; let c = c">
      <strong>
        {{context}}, {{a}}, {{bb}}, {{c|json}}
      </strong>
    </div>
  </div>
</div>
<hr>
<h1>Inherit</h1>
6,<br>
<div [setContextO]="{ a: 1, b: 2, c: (counter$|async) }">
  <div *getContext="let a = a; let b = b; let c = c">
    <strong>
      a = {{a}}, b = {{b}}, c = {{c}}
    </strong>
    <div *setContext="123 under 'b'">
      <div *getContext="let a = a; let b = b; let c = c">
        <strong>
          a = {{a}}, b = {{b}}, c = {{c}}
        </strong>
      </div>
    </div>
  </div>
</div>