<h1>NgxContextStore</h1>
<h2 class="example">1, Attribute directive ([setContext]) syntax</h2>
<div [setContext]="'alma'">
  <div>
    <div *getContext="let context">
      <strong>
        context ($implicit): {{context}} === alma
      </strong>
    </div>
  </div>
</div>
<hr>
<h2 class="example">2, Attribute directive ([setContext], [setContextUnder]) syntax for explicit context keys</h2>
<div [setContext]="'alma'" [setContextUnder]="'key'">
  <div>
    <div *getContext="let key = key">
      <strong>
        key: {{key}} === alma
      </strong>
    </div>
  </div>
</div>
<hr>
<h2 class="example">3, Reactive values</h2>
<div [setContext]="counter$ | async">
  <div>
    <div *getContext="let context">
      <strong>
        context ($implicit): {{context}} === {{counter$ | async}} &lt;&lt;reactive counter&gt;&gt;
      </strong>
    </div>
  </div>
</div>
<hr>
<h2 class="example">4, Structural directive (*setContext, under &lt;&lt;key&gt;&gt;) syntax</h2>
<div *setContext="counter$ | async under 'counter'">
  <div>
    <div *getContext="let counter = counter">
      <strong>
        counter: {{counter}} === {{counter$ | async}} &lt;&lt;reactive counter&gt;&gt;
      </strong>
    </div>
  </div>
</div>
<hr>
<h2 class="example">5, Simple [setContextO] syntax to define multiple keys at once</h2>
<div [setContextO]="{ $implicit: 'alma', a: 1, b: 2, c: { counter: (counter$|async) } }">
  <div>
    <div *getContext="let context; let a = a; let bb = b; let c = c">
      <strong>
        {{context}}, {{a}}, {{bb}}, {{c|json}}
      </strong>
    </div>
  </div>
</div>
<hr>
<h2 class="example">6, Multiple setContext with inherited values</h2>
<div [setContextO]="{ a: 1, b: 2, c: (counter$|async) }">
  <div *getContext="let a = a; let b = b; let c = c">
    <strong>
      a = {{a}}, b = {{b}}, c = {{c}}
    </strong>
    <div *setContext="123 under 'b'">
      <div *getContext="let a = a; let b = b; let c = c">
        <strong>
          a = {{a}}, b = {{b}}, c = {{c}}
        </strong>
      </div>
    </div>
  </div>
</div>
<hr>
<h2 class="example">7, Lazy loaded component in a router-outlet</h2>
<div class="lazy-wrapper" [setContextO]="{ lazy: lazyValue, incLazy: incrementLazyValue }">
  Lazy value: {{ lazyValue }}
  <br>&lt;&lt;lazy-wrapper&gt;&gt;<br>
      <router-outlet></router-outlet>
  <br>&lt;&lt;/lazy-wrapper&gt;&gt;<br>
</div>